
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>

	
<title>Witch Wand </title>

<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/readmore.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Studeon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
<!--//webfont-->
<!--Animation-->
<script src="js/wow.min.js"></script>
<link href="css/animate.css" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
<!--Light-Box-->
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="css/swipebox.css">
    <script src="js/jquery.swipebox.min.js"></script> 
    <script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
	</script>
	
	
<!---- ANGULAR JS --->
<script type="text/javascript" src="js/angular.min.js"></script>

<!-- // AngularJs -->
	
		<!-- Custom Scripts  -->
<script type="text/javascript" src="js/imageloop.js"></script>

<!-- Custom Scripts -->
	
	
    <!--End-Light-Box-->
	 <!--Script-for-gallery-Here-->
				<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
					<script type="text/javascript">
					$(function () {
						
						var filterList = {
						
							init: function () {
							
								// MixItUp plugin
								// http://mixitup.io
								$('#portfoliolist').mixitup({
									targetSelector: '.portfolio',
									filterSelector: '.filter',
									effects: ['fade'],
									easing: 'snap',
									// call the hover effect
									onMixEnd: filterList.hoverEffect()
								});				
							
							},
							
							hoverEffect: function () {
							
								// Simple parallax effect
								$('#portfoliolist .portfolio').hover(
									function () {
										$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
										$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');				
									},
									function () {
										$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
										$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
									}		
								);				
							
							}
				
						};
						
						// Run the show!
						filterList.init();
						
						
					});
					
					</script>


<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
	<!-- header-section-starts -->
	<div class="header box css3-shadow" id="head">
 	<div class="container">
	  <div class="header-top">
	        <div class="logo wow bounceInLeft" data-wow-delay="0.4s">
				<a href="index.html"><img src="/assets/images/logo_net.jpg"  alt=""  onMouseOver="this.src='images/logo-over.jpg'" 
                    onMouseOut="this.src='images/logo_net.jpg'"/> 
								
			 	<span id ="logoSpan" ><img src="/assets/images/logo-name.jpg"  alt="" onMouseOver="this.src='images/logo-name-over.jpg'" 
			 	  onMouseOut="this.src='images/logo-name.jpg'" /></span>
			 	</a>
			 </div>
			 </div>
		     <div class="h_menu4"><!-- start h_menu4 -->
				<a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li class="active"><a href="index.html">Home</a></li>
						<li><a href="index.html">About</a></li>
						<li><a href="brands.html">Brands</a>
						<li><a href="services.html">Services</a>
							<!-- <ul>
								<li><a href="feature">Typography</a></li>
								<li><a href="feature">Shortcodes</a></li>
								<li><a href="feature">Columns</a></li>
								<li><a href="feature">Pricing plans</a></li>
								<li><a href="feature">Alerts</a></li>
								<li><a href="feature">Services</a></li>
							</ul> -->
						</li>
						<!-- <li><a href="single">Blog</a></li> -->
						<li><a href="contact.html">Contact</a></li>
						<li><a href="shopNow.html">Shop now</a>

				</ul>
				<script type="text/javascript" src="js/nav.js"></script>
			</div><!-- end h_menu4 -->
			<div class="social_icons wow bounceInRight" data-wow-delay="0.4s">
					<ul>
						<li class="icon-top blue-text">
						<a href="https://www.facebook.com/witchwand/?fref=ts"><img src="/assets/images/logo-fb.png" alt="" style="width: 22px;height: 20px;,display:inline-block;"></a>
						<a href="https://www.instagram.com/witch_wand/"><img src="/assets/images/logo-instagram.png" alt="" style="width: 26px;height: 26px;,display:inline-block;"></a>
						<a href="#"><img src="/assets/images/logo-pinterest.png" alt="" style="width: 25px;height: 24px;,display:inline-block;"></a>
						<a href="http://www.twitter.com/witchwand"><img src="/assets/images/logo-twitter.png" alt="" style="width: 24px;height: 21px;,display:inline-block;"></a>
						<!-- <a href="#"><img src="/assets/images/logo-youtube.png" alt="" style="width: 28px;height: 38px;,display:inline-block;"></a> -->
						</li>
					</ul>
				</div>

			<div class="clearfix"> </div>
			
		  </div><!-- end header_main4 -->
	</div>
</div>

	<!--start-portfolio-->
	<div class="container">
		<div class="gallery">
		<!-- portfolio -->
			<div class="portfolio-section" id="portfolio">			
				<!-- head-section -->
					<div class="head-section text-center">
						<h2>BRANDS</h2>
					</div>
					<!-- /head-section -->
				 <ul id="filters" class="clearfix wow bounceIn" data-wow-delay="0.4s">
						<!-- <li class="active"><span class="filter" data-filter="app card icon logos web">ALL</span></li> -->
					<!-- 	<li><span class="filter" data-filter="app">Lifestyle</span></li>
						<li><span class="filter" data-filter="card">watches</span></li>
						<li><span class="filter" data-filter="icon">Sports</span></li> -->
						<!-- <li><span class="filter" data-filter="logos">CATEGORY4</span></li> -->
						</ul>
					<div id="portfoliolist">
					<div id="lifeStyleJpg">
						
					</div>
					<div id="lifeStylePng">
						
					</div>
					<div id="sport">
						
					</div>
					<div id="watch">
						
					</div>
					
									
				<div class="clearfix"> </div>					
				</div>			
			<div class="clearfix"></div>	
			</div>
		</div>
	</div>
				
			<!--/start-copyright-section-->
				<div class="copyright">
					<div class="container">
					<div class="logo2  wow bounceInLeft" data-wow-delay="0.4s"><a href="index.html">
						<img src="/assets/images/LogoNet.png"  alt=""  onMouseOver="this.src='images/LogoOver.png'" 
                    onMouseOut="this.src='images/LogoNet.png'"/> 
					</a></div>
					
					<div class="col-md-1 company-details"></div>
					<div class="col-md-3 company-details" >
							<div class="icon-top red-text" style="max-width: 0%;">
								<img src="/assets/images/red-location-map-pin-icon-5.png"  alt="" style="width: 30px">
								</div  >
								<div style="color:#a8a8a8;">
									Witch Wand
									UNIT 601, 12TH MAIN, HAL 2NDSTAGE 
									BANGALORE - 560 008
									KARNATAKA
									INDIA
								</div>
						</div>
						<div class="col-md-3 company-details">
							<div class="icon-top green-text" >
								<img  src="/assets/images/email-icon.png" alt="" style="width: 47px;height: 42px;">
							</div>
							<a style="color: #a8a8a8;" href="mailto:contact@site.com" > info@witchwand.com</a>
						</div>
						<div class="col-md-3 company-details">
							<div class="icon-top blue-text">
							<img src="/assets/images/phone.png" alt="" style="width: 30px">
							</div>
							<a style="color:#a8a8a8;" href="tel:0 332 548 954">+91-8889893332</a>
						</div>
						</div>
						
					
					<div class="clearfix">
					<div class="container  bounceInRight">
					<p class="write  wow " data-wow-delay="0.4s">Copyright &copy; 2016  All rights  Reserved |Template  by &nbsp;<a href="#"> W3layouts</a></p>
					</div>
					
				</div>
				</div>
			
			<!--//end-copyright-section-->
			<!--start-smoth-scrolling-->
			<script type="text/javascript" src="js/move-top.js"></script>
			<script type="text/javascript" src="js/easing.js"></script>
			<script type="text/javascript">
			
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										//aboutUsScroll(null);
										
									imageLoop();
									});
								
								function aboutUsScroll(obj){
									alert(obj+"TEST");
										obj.load().attr("href", "#about").css("scroll");
										return true;
									}
								
							/* imageLoop	 */
								
							/* jQuery */
								

							
								</script>
		<a href="#head" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script src="js/index.js"></script>
<script src="js/imageloop.js"></script>

			
</body>
</html>